### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Windows reserved device name artifact
nul
src-trash

### STS ###
.apt_generatedrd
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### LOGS ###
/logs/

### Frontend (pnpm) ###
frontend/node_modules/
frontend/package-lock.json
src/main/resources/static/
!src/main/resources/static/scalar-ui

# application.properties
src/main/resources/application.properties

# summary
/summary
/davin


# Ignore semua isi uploads
uploads/**

# Tapi tetap izinkan foldernya
!uploads/
!uploads/avatar/
!uploads/products/

# Simpan placeholder supaya folder ikut ke git
!uploads/avatar/.gitkeep
!uploads/products/.gitkeep